.sne 
    .sne__container
        h2.sne__title.title 
            span МОДУЛЬНАЯ <br/>&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; АРХИТЕКТУРА СНЭ
        .sne__body
            .sne__item
                img(src="images/wardrobe.png" alt="wardrobes")
                .sne__caption Базовые аккумуляторные<br/>шкафы и инверторы
            .sne__item
                include ../../components/container-config/container-config.pug
                .sne__caption Индивидуальная конфигурация<br/>под задачи клиента

        a.blue-button.sne__button(href="") ОБСУДИТЬ ПРОЕКТ