.tizer1338
    picture.tizer1338__img 
        //- source(srcset="images/tizer/425/2.webp" media="(max-width: 425px)")
        //- source(srcset="images/tizer/1024/2.webp" media="(max-width: 1024px)")
        //- source(srcset="images/tizer/1." media="(max-width: 1920px)")

        img(src="images/tizer/tizer.jpg" alt="tizer")

    .tizer1338__container
        h2.tizer1338__title КАРЬЕРА
        .tizer1338__text Быстрые темпы роста и высокие результаты по развитию деятельности – это результат и вклад всех сотрудников компании. Ваш успех – успех РЭНЕРА
        a.white-button(href="") НАПРАВИТЬ РЕЗЮМЕ