.iso1612
    .iso1612__container
        h2.iso1612__title СЕРТИФИКАТ МЕНЕДЖМЕНТА КАЧЕСТВА 
        .iso1612__body
            .iso1612__left
                img(src="images/iso.png" alt="iso")
            .iso1612__right
                div 
                    p В 2023 г.  РЭНЕРА ожидает получение сертификата менеджмента качества производственных площадок на соответствие требованиям ГОСТ Р ИСО 9001:2015
                    p Сертификат подтвердит соотвествие РЭНЕРА государственным стандартам, в части налаживаниея бизнес-процессов в компании, борьбе с коррупцией и взяточничеством.
                    a.green-button.iso1612__button(href="#") ПОДРОБНЕЕ