.step-closer2-1612
    .step-closer2-1612__container
        div
            h3.upper профессия будущего 
            p РЭНЕРА выстраивает долгосрочное сотрудничество с ВУЗами: участвует в открытии новых программ, закупает оборудование для качественного образования, участвует в карьерных мероприятиях для студентов
            a.green-button(href="https://renera.ru/kariera/") КАРЬЕРА
        div
            img(src="images/ШУМ зона РЭНЕРА (5) (1) 1.jpg" alt="ШУМ зона РЭНЕРА")
            img.affordable(src="images/4quality.png" alt="8decent")