.specialties.container1338 
    h2.specialties__title СПЕЦИАЛЬНОСТИ 2025-2026
    .specialties__body 
        .specialties__left
            ul.specialties__list
                li Автоматчик элементного производства
                li Водитель погрузчика
                li Испытатель источников тока
                li Контроллер в аккумуляторном и элементном производстве
                li Лаборант
                li Монтажник радиоэлектронной аппаратуры и приборов
                li Намазчик пасты

        .specialties__right
            ul.specialties__list
                li Приготовитель активных масс
                li Сборщик щелочных аккумуляторов и батарей
                li Сервисный инженер
                li Слесарь электромонтажник
                li Специалист по качеству
                li Технолог
                li Упаковщик электродов и модулей
                li Электрослесарь-сварщик

    a.button-download.button-download--blue(href="") готов к работе