.step-closer1612#step-closer3
    .step-closer1612__container
        div
            img(src="images/thumbs-up.jpg" alt="thumbs-up")
            img.affordable(src="images/8decent.png" alt="8decent")
        div
            h3.upper Новые рабочие места для стабильного экономического роста 
            p Строительство производственных площадок  –  это от 300 до 1 200 новых высокотехнологичных рабочих мест.
            p РЭНЕРА вносит долгосрочный вклад в экономическое развитие региона,  обеспечивет достойной работой граждан, что реализует цель номер 8 договора ООН об устойчивом развитии.
            a.green-button(href="#") О ГИГАФАБРИКЕ