.stabilityScale1338
    .stabilityScale1338__content 
        h2.stabilityScale1338__title 
            p КОМПАНИЯ В ЦИФРАХ
        ul.stabilityScale1338__data 
            each i in stabilityScale
                li.stabilityScale1338__data-item
                    .stabilityScale1338__data-title= i.title
                    .stabilityScale1338__data-text= i.text

        //- a.stabilityScale1612__button(href="#") Где учиться
