.stabilityScale1612
    .stabilityScale1612__content 
        h2.stabilityScale1612__title 
            p ВКЛАД В УСТОЙЧИВОЕ РАЗВИТИЕ
        ul.stabilityScale1612__data 
            each i in stabilityScale
                li.stabilityScale1612__data-item
                    .stabilityScale1612__data-title= i.title
                    .stabilityScale1612__data-text= i.text

        //- a.stabilityScale1612__button(href="#") Где учиться
