include ../../components/addresses/addresses.pug
.ntc.container1338 
    h2.ntc__title РАБОТА В НАУЧНО-ТЕХНИЧЕСКОМ ЦЕНТРЕ
    .ntc__goals 
        h3.ntc__goals-center Цели центра:
        ul.ntc__goals-list 
            li Актуальные литий ионные технологии: разработка и развитие технологий производства существующих химических источников тока
            li Постлитиевые технологии: развитие перспективных химических источников тока
            li Создание прорывных технологий для решения актуальных проблем
            li Проведение опытно технологических работ по развитию заводской технологии, включая внедрение новых энергоемких материалов

        .ntc__body 
            .ntc__left
                img(src="images/ntc.jpg" alt="ntc")
            .ntc__right
                h2.ntc__title ВАКАНТНЫЕ СПЕЦИАЛЬНОСТИ ЦЕНТРА 2024
                ul.ntc__specialties
                    li Инженер-испытатель
                    li Инженер-схемотехник
                    li Инженер-исследователь
                    li Инженер-теплотехник
                    li Инженер-конструктор
                    li Инженер-технолог
                    li Инженер-механик
                    li Инженер-электротехник
                    li Инженер-программист
                    li Теплотехник
                    li Инженер-проектировщик
                +addresses("Адрес научно-технического центра")
                    |г.Москва, Каширское шоссе, д. 49

                a.button-download.button-download--blue(href="") присоединиться
