.step-closer2-1612#step-closer2-1612
    .step-closer2-1612__container
        div
            h3 
                p минимизация углеродного следа
            p Основа экологиченого будущего закладывается уже сейчас. Продукты и решения РЭНЕРА – это альтернативные источники энергии для снижения углеродного следа деятельности вашего предприятия.

            p Принцип работы технологий заключается в том, что они позволяют накапливать дешевую зеленую энергию, и отдают ее, когда она не поступает или, когда она дорогая, реализуя принцип разумного потребления ресурсов..
        div
            img(src="images/shutterstock_2084987944+ 1.jpg" alt="shutterstock")
            img.affordable(src="images/7affordable.jpg" alt="7affordable")