.build-a-career.container1338 
    h2.build-a-career__title  постройте карьеру в рэнера
    .build-a-career__body 
        .build-a-career__caption Напишите нам и приложите своё резюме для работы в:
        .build-a-career__left 
            .build-a-career__form
                span.build-a-career__form-title Управляющей компании города Москва
                a.button-download.button-download--blue(href="") подать резюме
        .build-a-career__right
            .build-a-career__form
                span.build-a-career__form-title Управляющей компании города Москва
                a.button-download.button-download--blue(href="") другие вакансии