.logo 
    a(href="#")
        img(src="images/logo/naked-science.png" alt="naked science")
    a(href="#")
        img(src="images/logo/cross.png" alt="cross")
    a(href="#")
        img(src="images/logo/mgu-sarov.png" alt="mgu sarov")