extends ../pug/templates/template.pug
block main 
    include ../articles/tizer/tizer.pug
    include ../articles/first-block/first-block.pug


    include ../articles/stabilityScale/stabilityScale.pug
    include ../articles/modern-job/modern-job.pug
    include ../articles/specialties/specialties.pug
    include ../articles/kaliningrad/kaliningrad.pug
    //- include ../articles/SNE/SNE.pug
    //- include ../articles/variants/variants.pug
    //- include ../articles/industries/industries.pug

    //- include ../articles/ability/ability.pug
    //- include ../articles/solutions/solutions.pug
    //- include ../articles/form-component/form-component.pug