.first-block1338 
    .first-block1338__left
        .first-block1338__panel.panel.centerize
            .news__breadcrumbs
                ul.breadcrumbs

                    li.breadcrumbs__item
                        a.no-barba(href="https://renera.ru") Главная
                    li.breadcrumbs__item
                        a.no-barba(href="https://renera.ru/kariera/") Карьера
            h2 
                p компания рэнера

            p Компания РЭНЕРА – интегратор госкорпорации Росатом по накопителям энергии в России с собственными производственными площадками и научно-техническими центрами разработки технологий


    .first-block1338__right.centerize
        div 
            h3 ГЛАВНЫЙ ОФИС КОМПАНИИ
            p Главный офис компании, собственные производственные площадки научно-технические центры располагаются в г.Москва. 
            p В 2025 году компания открывает первую в России гигафабрику по производству литий-ионных накопителей энергии в г.Неман (Калининградская область), в 2026 году – гигафабрику в Красной Пахре (г.Москва).