mixin addresses(name)
    .addresses 
        .addresses__name 
            img.addresses__pin(src='images/icons/map-pin.png')
            .addresses__title= name
        .addresses__text 
            block