include ../../components/breadcrumbs/breadcrumbs.pug
.news1055 
    .news1055__content
        .news1055__left
            .news1055__panel.news1055__panel--white

                h2.news1055__title
                    p ЛИТИЙ-ИОННЫЕ
                    p ТЕХНОЛОГИИ 
                    p РЕШЕНИЙ РЭНЕРА


        .news1055__right 
            .news1055__panel 
                p
                    b В 2025 году откроется первая в России гигафабрика в Калининградской области
                p На сегодняшний день аналогов такому производству в нашей стране нет. Мы первыми начнём серийно производить тяговые батареи для электротранспорта и системы накопления энергии для стационарных систем. Литий-ионные аккумуляторы – технология, активно развивающаяся во всем мире. Присоединившись к нашей команде, вы приобретете востребованный и актуальный опыт в инновационной сфере будущего.
