.step-closer1612#step-closer1612
    .step-closer1612__container
        div
            img(src="images/image 379.jpg" alt="car")
            img.affordable(src="images/7affordable.jpg" alt="7affordable")
        div
            h3 НА ШАГ БЛИЖЕ К ГОРОДУ БУДУЩЕГО!
            p Мы создаем накопители энергии на литий-ионных аккумуляторных батареях для всех видов электротранспорта и источники бесперебойного питания для энергетики и предприятий, чтобы ваша мечта и мечты ваших потребителей о городе будущего могли осуществиться уже сегодня.
            a.green-button(href="#") смотреть каталог