.about1055
    .about1055__container
        h2.about1055__title 
            p О ЯЧЕЙКАХ  
            p И МОДУЛЯХ
        .about1055__video
            video(src="video/modules-cells.mp4" poster="images/poster.jpg" ) 
            include ../../../assets/svg/play.svg