.plan1612
    .plan1612__container
        .plan1612__item.plan1612__text Ориентир на создание рабочих мест
        .plan1612__item.plan1612__text 
            strong + 360 
            br
            | новых рабочих мест
        .plan1612__item.plan1612__text 
            strong + 890
            br
            | новых рабочих мест
        .plan1612__progress
            .plan1612__track
            .plan1612__thumb.plan1612__thumb--1
            .plan1612__thumb.plan1612__thumb--2
            .plan1612__thumb.plan1612__thumb--3
        .plan1612__item.plan1612__year 2020
        .plan1612__item.plan1612__year 2025
        .plan1612__item.plan1612__year 2027
