.second-block1612#second-block1612 
    a.second-block1612__item(href="#step-closer1612") 
        include ../../../assets/svg/second-block/1.svg
        p Чистая и доступная энергия
    a.second-block1612__item(href="#step-closer2-1612") 
        include ../../../assets/svg/second-block/2.svg
        p Снижение выбросов  СО2
    a.second-block1612__item(href="#step-closer3")  
        include ../../../assets/svg/second-block/3.svg
        p Достойная работа и экономический рост