include ../../components/addresses/addresses.pug
.modern-job1338
    h2.modern-job1338__title РАБОТА НА СОВРЕМЕННЫХ<br/>ПРОИЗВОДСТВЕННЫХ ПЛОЩАДКАХ
    .modern-job1338__body 
        .modern-job1338__left
            p.modern-job1338__text Две фабрики мощностью 4 ГВт-ч (Гигафабрика), оснащенные новым оборудованием с роботизированными линиями, откроются в августе 2025 года в Неманском районе Калининградской области и в 2026 году в Красной Пахре (Москва). На заводах будет выполняться полный цикл производства литий-ионных аккумуляторов.
            .modern-job1338__addresses 
                +addresses("Адрес Калининградской гигафабрики")
                    p Калининградская область, Неманский район,<br/> пос. Маломожайское, ул. Центральная, 1 «А»
                +addresses("Адрес Московской гигафабрики")
                    p Д. Красная Пахра — Троицкий административный округ Москвы

            .modern-job1338__buttons
                a.button-download.button-download--blue(href="") ХОЧУ В КОМАНДУ
                a.button-download.button-download--white(href="")  ВСЕ ВАКАНСИИ
        .modern-job1338__right
            img(src="images/modern-job/1.jpg" alt="1")
            img(src="images/modern-job/2.jpg" alt="2")