.kaliningrad
    h2 Калининградская область
    .kaliningrad__text
        p Это уникальный российский регион, соседствует только с Польшей 
        p и Литвой, омывается Балтийским морем.
    p.t32(style="margin-bottom: 32px;") Современный и аутентичный, он объединяет:

    .kaliningrad__union
        .kaliningrad__circle
            .t32
                p Прусскую
                p архитектуру
        .kaliningrad__circle
            .t32
                p Образцовый
                p порядок
        .kaliningrad__circle
            .t32
                p Русское
                p гостеприимство

    p.t32(style="margin-bottom: 32px;") Приехав сюда, вас ждут:
    .kaliningrad__waits
        .kaliningrad__wait
            p Романтичные
            p города
        .kaliningrad__wait
            p Живописная
            p природа
        .kaliningrad__wait
            p Белоснежные пески
            p Куршской косы
        .kaliningrad__wait
            p Восхитительные
            p блюда местной кухни
